@model MiniHbys.Entity.Department

@{
    ViewBag.Title = "Edit Department";
    Layout = "_Layout";
}

@using (Html.BeginForm(actionName:"Edit",controllerName:"Department",routeValues:null,method:FormMethod.Post))
{
    @Html.HiddenFor(x=> x.DepartmentID)
    <div class="content" style="padding: 20px">
        <div class="form-group">
            @Html.TextBoxFor(x=> x.DepartmentName,htmlAttributes:new {@class="form-control"})
        </div>
        <div style="float: right">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
}


