@model MiniHbys.Entity.Patient
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<body>
    @using (Html.BeginForm(actionName: "CreatePatient", controllerName: "Patient", routeValues: null, FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input name="PatientName" asp-for="PatientSurname" type="text" class="form-control" placeholder="Name">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input name="PatientSurname" asp-for="PatientSurname" type="text" class="form-control" placeholder="Surname">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input name="PatientGender" asp-for="PatientGender" type="text" class="form-control" placeholder="Gender">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input name="BloodGroup" asp-for="BloodGroup" type="text" class="form-control" placeholder="BloodGroup">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group date" id="reservationdate" data-target-input="nearest">
            <input name="BirthDate" asp-for="BirthDate" type="text" class="form-control datetimepicker-input"
                   data-target="#reservationdate"
                   placeholder="Birthdate" />
            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <div class="social-auth-links text-center">
            <button type="submit" class="btn btn-block btn-primary" id="btn1">
                <i class="mr-2"></i>
                Save
            </button>
        </div>
    }
</body>
</html>